# .gitconfig
# vim: set noexpandtab:

[core]
	excludesfile = ~/.gitignore.global
[alias]
	st = status -sb
	ci = commit -q
	ci-am = commit -q --amend --no-edit
	ci-am-edit = commit -q --amend
	co = checkout
	tree = log --pretty=format:'%C(yellow)%h %Cblue%ad %Cgreen%<(16)%an%C(auto)%d%Creset%s' --date=short --graph
	br = branch
	brl = branch-list
	chp = cherry-pick
	sw = switch
	rs = restore
	push-f = push --force-with-lease
[ui]
	color = auto
[color]
	status = auto
	branch = auto
	diff = auto
[fetch]
	prune = true
	recurseSubmodules = true
[push]
	default = simple
[merge]
	ff = false
	conflictStyle = diff3
[rebase]
	autoStash = true
[status]
	showUntrackedFiles = all
[include]
	path = .gitconfig.local
[stash]
	showPatch = true
